<mat-card>
  <app-quiz-item-senscr 
  [currentQuizItem]="currentQuizItem"
  [currentItemId]="quizStatus.currentItemId$ | async" [quizStatus]="quizStatus" *ngIf="currentQuizItem.type === 'senScr'"></app-quiz-item-senscr>
  <mat-divider></mat-divider>
  <mat-card-subtitle class="subtitle">MY ANSWER</mat-card-subtitle>
  <mat-card-title>
    {{quizStatus.currentAnswer$ | async}}
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-subtitle class="subtitle">KEY</mat-card-subtitle>
  <mat-card-title [ngStyle]="{'visibility': (!currentQuizItem.checked) ? 'hidden' : 'inherit'}">
    {{currentQuizItem.content}}
  </mat-card-title>
  <mat-card-actions style="display: flex">
    <button *ngIf="currentQuizItem.checked" mat-button>{{currentQuizItem.correct ? '✔️': '❌'}}</button>
    <span style="flex: 1 1 auto"></span><button mat-stroked-button color="primary" (click)="checking.emit(1)"
      [disabled]="currentQuizItem.checked" *ngIf="!currentQuizItem.checked">Check</button>
    <button mat-stroked-button color="accent" *ngIf="currentQuizItem.checked && !checkIfFinished()" (click)="goNext.emit()">Next</button>
    <button mat-raised-button color="accent" *ngIf="checkIfFinished()" (click)="goFinish.emit()">Finish</button>
  </mat-card-actions>
</mat-card>