<mat-grid-list style="max-width: 30em; margin-bottom: 1em" cdkDropListGroup cols="20"
  [cdkDropListGroupDisabled]="currentQuizItem.checked">
  <mat-grid-tile cdkDropList [cdkDropListData]="i" *ngFor="let item of blocks; let i = index;" [colspan]="5"
     [rowspan]="3">
    <div cdkDrag [cdkDragData]="i" 
    (cdkDragDropped)="drop($event)"
>
      <div *cdkDragPlaceholder></div>
      <button mat-raised-button class="example-button" (click)="onButtonClick(i)" [disabled]="currentQuizItem.checked">
        <span *ngIf="item[1]">{{item[0]}}</span>
        <span class="deleted" *ngIf="!item[1]">{{item[0]}}</span>
      </button>
      <!-- {{item}} -->
    </div>
  </mat-grid-tile>

</mat-grid-list>

<!-- <div fxLayout="row wrap" fxLayoutGap="16px grid" cdkDropListGroup>
  <div
    *ngFor="let item of blocks; let i = index"
    fxFlex.gt-sm="25"
    [fxFlex.gt-xs]="100 / 3"
    fxFlex="50"
    cdkDropList
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="i"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-card cdkDrag>
      <mat-card-title>{{ item }}</mat-card-title>
      <mat-card-subtitle>Hello world</mat-card-subtitle>
    </mat-card>
  </div>
</div> -->


<!-- <mat-card>
  <mat-card-subtitle>MY ANSWER</mat-card-subtitle>
  <mat-card-title>
    {{answerSentence}}
  </mat-card-title>
  <mat-card-actions style="display: flex">
    <span style="flex: 1 1 auto"></span><button mat-raised-button color="primary">Check</button>
  </mat-card-actions>
</mat-card> -->

<!-- <mat-grid-list cdkDropList [cdkDropListData]="blocks" (cdkDropListDropped)="drop($event)" cols="20">
  <mat-grid-tile *ngFor="let block of blocks" [cdkDragData]="block" cdkDrag [colspan]="5" [rowspan]="3">
    <div>
      <div *cdkDragPlaceholder></div>
      <button mat-raised-button>{{block}}</button>
    </div>
  </mat-grid-tile>
</mat-grid-list> -->


<!-- <h2>Available blocks</h2>
<div *ngIf="blocks" class="example-list">

  <div id="all" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="blocks"
    cdkDropListConnectedTo="answer" class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let block of blocks" [cdkDragData]="block" cdkDrag>
      <div class="example-custom-placeholder" *cdkDragPlaceholder>{{block}}</div>
      {{block}}
    </div>
  </div>
</div> -->

<!-- 

<h2>Answer blocks</h2>
<div class="example-list">

  <div id="answer" cdkDropList cdkDropListOrientation="horizontal" [cdkDropListData]="answerBlocks"
    cdkDropListConnectedTo="all" class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let blockx of answerBlocks" cdkDrag [cdkDragData]="blockx">
      <div class="example-custom-placeholder" *cdkDragPlaceholder>{{blockx}}</div>
      {{blockx}}
    </div>
  </div>
</div> -->