<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>KDDH</span>
</mat-toolbar> -->

<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>KDDH</span>
  <span style="flex: 1 1 auto"></span>
  <small>20210929-1710</small>

</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('closed!')">
    <nav (click)="sidenav.toggle()">
      <ul>
        <li><a routerLink="/math" routerLinkActive="active">Math</a></li>
        <li><a routerLink="/english" routerLinkActive="active">English</a></li>
        <!-- <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li> -->
      </ul>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
    <!-- <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
    <!-- <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{e}}</div>
    </div> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>