<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>KDDH</span>
</mat-toolbar> -->

<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>KDDH</span>
  <span style="flex: 1 1 auto"></span>
  <small></small>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('closed!')">
    <nav (click)="sidenav.toggle()">
      <div>
        <a routerLink="/math" routerLinkActive="active">
          <span class="material-icons">
            calculate
            </span>
        </a>
      </div>
      <div>
        <a routerLink="/english" routerLinkActive="active">
          <span class="material-icons">
            font_download
          </span></a>
      </div>
      <!-- <li><a routerLink="/second-component" routerLinkActive="active">Second Component</a></li> -->

    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
    <!-- <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p> -->
    <!-- <p>Events:</p>
    <div class="example-events">
      <div *ngFor="let e of events">{{e}}</div>
    </div> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>